.DS_Store
*.py[cod]
__pycache__/
**/__pycache__/
.venv/
**/.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/

data/*
!data/*.py
!data/README.md

data/tmp_distance_jsons/
data/min_distance_result.json
data/pet_result.json
data/label_time_recording*.txt
data/time.txt

track_frame_dict.json
trackid_objects.json

*.zip
*.log
